<%- include('partials/header.ejs'); %>
<link rel="stylesheet" href="/stylesheets/results.css">
<body>
    
    <div class="context">
        <div><a href="/" id="home">🔙</a></div>
        <div class="container" id="form">
            <form action="/addPackage" method="POST">
                <input type="hidden" name="userName" value="<%= userName %>">
                <input type="text" name="packageName" placeholder="Package Name">
                <input type="text" name="trackingId" placeholder="Tracking ID">
                <button>Add</button>
            </form>
            <% if (numSuggestedPackages > 0) { %>
            <div id="suggestedPackages"><a href="/u/<%= userName %>/suggestedPackages">We found <%= numSuggestedPackages %> potentially new packages for you</a></div>
            <% }; %>
        </div>
        <div class="container" id="packages">
            <% results.forEach((result) => { %>
                <div class="package">
                    <h2><%= result.name %></h2>
                    <a href="<%= result.url %>"><%= result.trackingId.length > 50 ? "Amazon package" : result.trackingId %></a>
                    <form action="/removePackage" method="POST">
                        <input type="hidden" name="trackingId" value="<%= result.trackingId %>">
                        <p><%= result.status %></p>
                        <p class="description"><%- result.description %><p>
                        <button>Delete</button>
                    </form>
                    
                </div>
            <% }); %>
        </div>
</div>


<div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div >
