<%- include('partials/header.ejs'); %>
<link rel="stylesheet" href="/stylesheets/results.css">
<body>
    
    <div class="context">
        <div><a href="/" id="home">🔙</a></div>
        <div class="container" id="suggestedResults">
            <% suggestedPackages.forEach((suggestedPackage) => { %>
                <div class="suggestedRow">
                    <form action="/addPackage" method="POST">
                        <input type="hidden" name="userName" value="<%= userName %>">
                        <input type="hidden" name="trackingId" value="<%= suggestedPackage.trackingId %>">
                        <div class="packageName">
                            <input type="text" class="tempForDana" name="packageName" placeholder="Package Name">
                        </div>
                        <div class="packageUrl">
                            <a href="<%= suggestedPackage.url %>" target="_blank">
                                <%= suggestedPackage.trackingId %>
                            </a>
                        </div>
                        <div class="packageInfo">
                            Amazon Shipping Confirmation
https://www.amazon.com?ie=UTF8&ref_=scr_home

____________________________________________________________________

Hi Li-Ou, your package will arrive:

Monday, December 28

Track your package:
https://www.amazon.com/gp/your-account/ship-track?ie=UTF8&orderId=113-6244004-0569027&packageIndex=0&shipmentId=DstpPRXvK&ref_=scr_pt_tp_t



On the way:
1 item
Order #113-6244004-0569027



Ship to:
    Leo
    SAN FRANCISCO, CA

Shipment total:
$7.38


Return or replace items in Your Orders
https://www.amazon.com/gp/css/order-history?ie=UTF8&ref_=scr_yo




____________________________________________________________________

Unless otherwise noted, items sold by Amazon.com are subject to sales tax in select states in accordance with the applicable laws of that state. If your order contains one or more items from a seller other than Amazon.com, it may be subject to state and local sales tax, depending upon the sellers business policies and the location of their operations. Learn more about tax and seller information:
http://www.amazon.com/gp/help/customer/display.html?ie=UTF8&nodeId=202029700&ref_-=scr_help_tax



Items in this shipment may be subject to California's Electronic Waste Recycling Act. For any items not sold by Amazon.com or Amazon Digital Services, Inc. that are subject to that Act, the seller of that item is responsible for submitting the California Electronic Waste Recycling fees on your behalf.

Your invoice can be accessed here:
https://www.amazon.com/gp/css/summary/print.html?ie=UTF8&orderID=113-6244004-0569027&ref_=scr_od_invoice

This email was sent from a notification-only address that cannot accept incoming email. Please do not reply to this message.
                        </div>
                        <div class="packageActions">
                            <button>Add</button>
                            <a href="/u/<%= userName %>/rejectSuggestedPackage/<%= encodeURIComponent(suggestedPackage.trackingId) %>">✖️</a>
                        </div>
                    </form>
                </div>
            <% }); %>
        </div>
</div>


<div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div >
