<%- include('partials/header.ejs'); %>
<link rel="stylesheet" href="/stylesheets/results.css">
<body>
    
    <div class="context">
        <div><a href="/" id="home">🔙</a></div>
        <div class="container" id="suggestedResults">
            <% suggestedPackages.forEach((suggestedPackage) => { %>
                <div class="suggestedRow">
                    <form action="/addPackage" method="POST">
                        <input type="hidden" name="userName" value="<%= userName %>">
                        <input type="hidden" name="trackingId" value="<%= suggestedPackage.trackingId %>">
                        <div class="packageName">
                            <input type="text" class="tempForDana" name="packageName" placeholder="Package Name">
                        </div>
                        <div class="packageUrl">
                            <a href="<%= suggestedPackage.url %>" target="_blank">
                                <%= suggestedPackage.trackingId %>
                            </a>
                        </div>
                        <div class="packageInfo">
                            Placeholder for extra information about the discovered package
                        </div>
                        <div class="packageActions">
                            <button>Add</button>
                            <a href="/u/<%= userName %>/rejectSuggestedPackage/<%= suggestedPackage.trackingId %>">✖️</a>
                        </div>
                    </form>
                </div>
            <% }); %>
        </div>
</div>


<div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div >
